.dnet-header {
    grid-area: header;
    background-color: var(--header-color);
    text-align: center;
    border-bottom: 1px solid var(--dnet-header-border-color, --general-border-color);
}

.dnet-header-content-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.dnet-header-menu-button {
    width: 50px;
    display: none;
    justify-content: center;
    align-items: center;
}

.dnet-menu-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}

.dnet-header-content {
    flex-grow: 1;
}

.hidden-header {
    .dnet-header {
        display: none;
    }

    .dnet-header-content-wrapper {
        display: none;
    }
}

.hidden-footer-and-header {
    .dnet-header {
        display: none;
    }

    .dnet-header-content-wrapper {
        display: none;
    }
}

.dnet-desktop-header-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;

    >div {
        height: 100%;
    }
}

.dnet-desktop-header-left {
    display: flex;
    flex: 0 0 50%;
    justify-content: flex-start;
    padding-left: 20px;
}

.dnet-desktop-header-right {
    display: flex;
    flex: 0 0 50%;
    justify-content: flex-end;
    padding-right: 20px;
}

.dnet-dashboard-left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.dnet-dashboard-right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.hidden-navigation {
    #logo-group {
        padding-left: 45px;
    }
}

.company-logo-wrapper {
    display: flex;
    align-items: center;
}

#logo-team {
    padding-right: 15px;

    img {
        width: 96px;
        height: 24px;
        padding-left: 7px;
    }
}

#logo-group {
    font-family: var(--dnet-dash-font-family-Headline);

    div#app-name {
        color: #000;
        font-size: 1rem;
        font-weight: 500;
        padding-top: 2px;
        font-family: var(--dnet-dash-font-family-Headline);
    }

    div#app-description {
        color: #000;
        font-size: 0.75rem;
        text-transform: uppercase;
        padding-top: 5px;
    }

    div#app-version {
        color: #717780;
        font-size: 0.75rem;
        padding-top: 6px;
    }
}

.img-circle {
    font-size: 1.5rem;
    color: #62727b;
    padding-right: 5px;
}

.dnet-dashboard-left-header-data {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.dnet-dashboard-user-data {
    color: #102027;
    line-height: 11px;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    >div {
        margin-bottom: 5px;
    }

    .dnet-dashboard-user-name {
        font-size: .75rem;
    }

    .dnet-dashboard-person-name {
        font-size: .875rem;
    }

    .dnet-user-plan {
        font-size: .625rem;
    }
}

.dnet-dashboard-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: var(--dnet-dash-header-height);
    width: var(--dnet-dash-header-height);
    font-size: 1.5em;
}

.dnet-dashboard-icon {
    display: block;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    height: 1em;
    width: 1em;
    cursor: pointer;
    color: #5f6368;
}

.dnet-dashboard-icon-default {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path fill-rule='evenodd' clip-rule='evenodd' d='M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z'/></svg>");
}

@media only screen and (max-width: 550px) {
    .dnet-dashboard-left-container {
        display: none;
    }

    .dnet-header-menu-button {
        display: flex;
    }

    .responsive-menu {
        .dnet-header {
            display: none;
        }
    }
}