<header class="dnet-header">
    <div class="dnet-header-content-wrapper">
        <div class="dnet-header-menu-button">
           <button class="dnet-menu-button">☰</button>
        </div>
        <div class="dnet-header-content">
            @ChildContent
        </div>
    </div>
</header>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
