@using Dnet.Blazor.Components.Overlay.Infrastructure.Models
@using Dnet.Blazor.Components.Overlay.Infrastructure.Enums
@using Dnet.Blazor.Components.Overlay.Infrastructure.Services
@using Dnet.Blazor.Components.Button
@using Dnet.Blazor.Components.FloatingPanel.Infrastructure.Interfaces

@inject IFloatingPanelService FloatingPanelService

<div class="dnet-panel in-floating-panel">
    <div class="dnet-panel-header">
        <div class="dsec-panel-content">
            <span class="dsec-panel-content-title">Menu</span>
        </div>
    </div>

    <div class="dnet-panel-content" style="width: 100dwh;">

    </div>

    <div class="dnet-panel-footer">
        <DnetButton OnClick="CancelOverlay" class="dnet-m-r-10">Cancel</DnetButton>
    </div>
</div>

@code {

    [CascadingParameter]
    private int OverlayReferenceId { get; set; }

    private OverlayReference? _overlayReference;


    protected override void OnInitialized()
    {


    }

    private void CloseOverlay()
    {
        var dataResult = new OverlayResult()
            {
                CloseReason = CloseReason.Ok,
                ComponentData = null,
                OverlayReferenceId = OverlayReferenceId,
                CurrentAction = null
            };

        FloatingPanelService.Close(dataResult);
    }

    private void CancelOverlay()
    {
        var dataResult = new OverlayResult()
            {
                CloseReason = CloseReason.Cancel,
                ComponentData = null,
                OverlayReferenceId = OverlayReferenceId
            };

        FloatingPanelService.Close(dataResult);
    }
}