:root {
    --dnet-connected-panel-padding: 2px;
    --dnet-connected-panel-background: #FFFFFF;
}

.dnet-connected-panel-container {
    box-shadow: var(--dnet-component-box-shadow);
    background: var (--dnet-connected-panel-background);
    color: var(--dnet-component-headline-text-color);
    width: 100%;
    height: 100%;
    padding: var(--dnet-connected-panel-padding);
    border-radius: var(--dnet-dialog-border-radius);
}
