.dnet-connected-panel-container {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    color: rgba(0,0,0,.87);
    width: 100%;
    height: 100%;
}
