
<div class="mat-tab-header" style="border-bottom:@_borderBottom">
    <div class="mat-tab-header-pagination mat-tab-header-pagination-before"
         aria-hidden="true">
        <div class="mat-tab-header-pagination-chevron"></div>
    </div>

    <div class="mat-tab-label-container">
        <div class="mat-tab-list">
            <div class="mat-tab-labels">
                @ChildContent
            </div>
            <mat-ink-bar></mat-ink-bar>
        </div>
    </div>

    <div class="mat-tab-header-pagination mat-tab-header-pagination-after"
         aria-hidden="true">
        <div class="mat-tab-header-pagination-chevron"></div>
    </div>
</div>


@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool TabHeaderBorder { get; set; }

    private string _borderBottom { get; set; }

    protected override void OnInitialized()
    {
        _borderBottom = TabHeaderBorder ? "1px solid rgba(0,0,0,.12)" : "none";
    }

}
