.dnet-left-column {
    grid-area: left;
    background-color: var(--left-column-color);
    border-right: 1px solid var(--dnet-left-column-border-color, --general-border-color);
}

.hidden-left-column {
    .dnet-left-column {
        display: none;
    }
}

.hidden-lateral-columns {
    .dnet-left-column {
        display: none;
    }
}

@media only screen and (max-width: 550px) {

    .responsive-menu {
        .dnet-left-column {
            display: block;
        }
    }

    .dnet-left-column {
        display: none;
    }
}