.dnet-desktop-footer {
    background-color: var(--dnet-dash-footer-background);
    height: var(--dnet-dash-footer-height);
    width: calc(100% - 0px);
}

.hidden-footer .dnet-desktop-footer {
    display: none;
}
