.minified {
    aside,
    .dnet-desktop-navigation {
        width: var(--dnet-dash-asideWidth-minified);
    }
}

.dnet-desktop-navigation {
    padding: calc(var(--dnet-dash-navbar-height)) 0 0 0;
    height: calc(100% - 0px);
    width: var(--dnet-dash-asideWidth);
    background-color: var(--dnet-dash-asideColor);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    -webkit-transition: 250ms cubic-bezier(0.1, 0.57, 0.1, 1);
    transition: 250ms cubic-bezier(0.1, 0.57, 0.1, 1);
    -webkit-transform: translate(0px, 0px) translateZ(0px);
}
