.dnet-desktop-content {
    padding: 0;
    flex: 1 1 0;
    height: calc(100% - var(--dnet-dash-footer-height) - var(--dnet-dash-navbar-height));
    --dnet-dash-scrollbar-foreground-color: #BDBDBD;
}

.fixed-header {
    .dnet-desktop-content {
        overflow-y: scroll;
    }
}

.destok-layout {
    .dnet-desktop-content {
        overflow-y: scroll;
    }
}

.hidden-footer {
    .dnet-desktop-content {
        height: calc(100% - var(--dnet-dash-footer-height));
    }
}

.hidden-header {
    .dnet-desktop-content {
        height: calc(100% - var(--dnet-dash-navbar-height));
    }
}

.hidden-footer {
    &.hidden-header {
        .dnet-desktop-content {
            height: calc(100% - 0px);
        }
    }
}
