@using Dnet.Blazor.Components.AdminDashboard.Infrastructure.Interfaces
@using Dnet.Blazor.Components.AdminDashboard.Infrastructure.Models

@inject IThemeMessageService<ThemeConfigData> ThemeMessageService

<div class="dnet-desktop-content">@ChildContent</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
