:root {
    --text-default-size: .75rem;
    --text-box-height: 38px;
    --background-color: #ffffff;
    --text-content-color: #000000;
    --border: 1px solid #DBDBDB;
    --border-radius: 3px;
}

.collection-input.validated {
    flex-direction: column;
}

.dnet-input-search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: var(--text-box-height) !important;
    -webkit-transition: none;
    transition: none;
    box-shadow: none;
    font-size: var(--text-default-size);
    color: var(--text-content-color);
    padding: 6px;
    background: var(--background-color) !important;
    border: var(--border) !important;
    box-sizing: border-box !important;
    border-radius: var(--border-radius) !important;
}