:root {
    --dnet-autoc-input-padding-lef: 35px;
    --dnet-autoc-input-border: 1px solid #eee;
    --dnet-autoc-input-border-radius: 0px;
    --dnet-autoc-input-conten-wrapper-width: 30px;
    --dnet-autoc-input-conten-wrapper-height: 30px;
    --dnet-autoc-content-text-margin: 5px;
    --dnet-auto-hover-color: rgba(0, 0, 0, .04);
    --dnet-auto-item-height: 34px;
    --dnet-autoc-input-height: 30px;
}

.dnet-autoc-container {
    position: relative;
    width: 100%;
    height: var(--dnet-autoc-input-height)
}

.dnet-autoc-menu-container {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    color: rgba(0, 0, 0, .87);
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: pointer;
    /*    padding: 15px 10px;*/
}

.dnet-autoc-menu-container-filter-wrapper {
    width: 100%;
    text-overflow: ellipsis;
}

.dnet-autoc-input-autocomplete {
    width: 100%;
    border-radius: var(--dnet-autoc-input-border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #FFFFFF;
    -webkit-transition: none;
    transition: none;
    box-shadow: none;
    color: #38455b;
    border: var(--dnet-autoc-input-border);
    padding: 2px 5px;

    &.padding-left {
        padding-left: var(--dnet-autoc-input-padding-lef);
    }

    &:focus {
        box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
        outline: none;
    }
}

.dnet-autoc-input-content-wrapper {
    width: var(--dnet-autoc-input-conten-wrapper-width);
    height: var(--dnet-autoc-input-conten-wrapper-height);
    position: absolute;
    top: 0px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.hide {
        display: none;
    }
}

.dnet-autoc-content-wrapper {
    display: flex;
    width: 100%
}

.dnet-autoc-prefix-content {
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.dnet-autoc-middle-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.dnet-autoc-sufix-content {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.dnet-autoc-content-text {
    display: block;

    /*  &.has-content {
        margin-left: var(--dnet-autoc-content-text-margin);
    }*/
}

.dnet-autoc-menu-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: var(--dnet-auto-item-height);
    height: var(--dnet-auto-item-height);
    padding: 0 12px;
    text-align: left;
    text-decoration: none;
    max-width: 100%;
    position: relative;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        background-color: var(--dnet-auto-hover-color);
        cursor: pointer;
    }
}

.dnet-virtual-scroll-viewport {
    display: block;
    position: relative;
    overflow: auto;
    contain: strict;
    transform: translateZ(0);
    will-change: scroll-position;
    -webkit-overflow-scrolling: touch;
}

.dnet-autoc-clear-input {
    width: var(--dnet-autoc-input-conten-wrapper-width);
    height: var(--dnet-autoc-input-conten-wrapper-height);
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.dnet-autoc-reset-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.2em;
    width: 1.2em;
    padding-top: 2px;
}

.dnet-autoc-icon {
    display: block;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    height: 1em;
    width: 1em;
    cursor: pointer;
    color: #5f6368;
}

.dnet-autoc-reset-button {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path fill-rule='evenodd' clip-rule='evenodd' d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/></svg>");
}

.dnet-autoc-resp-input-container {
    display: none;
}

@media only screen and (max-width: 550px) {
    .dnet-autoc-resp-input-container {
        display: block;
        margin-top: 15px;
        margin-left: 10px;
    }
}