@page "/Tabs"
@using Dnet.Blazor.Components.Tabs
@using Dnet.Blazor.Components.Tabs.Infrastructure.Models

<div class="container-fluid" style="padding-top: 10px;">
	<div class="d-flex dnet-m-l-30 dnet-m-t-20">
		<span class="dnet-m-r-10 dnet-app-comp-name">Tabs</span>
	</div>
	<div class="dnet-m-l-30 dnet-m-t-30">
		<div class="row" style="height: calc(100% - 10px)">
			<div class="col-12" style="height: calc(100% - 0px);">
				<div style="height: calc(100% - 0px); width: 800px; background-color: #FFFFFF">
					<DnetTabGroup mat-align-tabs="start" OnTabClicked="TabClicked" TabHeaderBorder="false">
						<DnetTab Label="Tab1">
							<span>Tab 1</span>
						</DnetTab>
						<DnetTab Label="Tab2">
							<span>Tab 2</span>
						</DnetTab>
						<DnetTab Label="Tab3" Disabled="true">
							<span>Tab 3</span>
						</DnetTab>
						<DnetTab Label="Tab4">
							<span>Tab 4</span>
						</DnetTab>
						<DnetTab Label="Tab5">
							<span>Tab 5</span>
						</DnetTab>
						<DnetTab Label="Tab6">
							<span>Tab 6</span>
						</DnetTab>
						<DnetTab Label="Tab7">
							<span>Tab 7</span>
						</DnetTab>
						<DnetTab Label="Tab8">
							<span>Tab 8</span>
						</DnetTab>
						<DnetTab Label="Tab9">
							<span>Tab 9</span>
						</DnetTab>
						<DnetTab Label="Tab10">
							<span>Tab 10</span>
						</DnetTab>
						<DnetTab Label="Tab11">
							<span>Tab 11</span>
						</DnetTab>
						<DnetTab Label="Tab12">
							<span>Tab 12</span>
						</DnetTab>
						<DnetTab Label="Tab13">
							<span>Tab 13</span>
						</DnetTab>
						<DnetTab Label="Tab14">
							<span>Tab 14</span>
						</DnetTab>
						<DnetTab Label="Tab15">
							<span>Tab 15</span>
						</DnetTab>
						<DnetTab Label="Tab16">
							<span>Tab 16</span>
						</DnetTab>
						<DnetTab Label="Tab17">
							<span>Tab 17</span>
						</DnetTab>
						<DnetTab Label="Tab18">
							<span>Tab 18</span>
						</DnetTab>
					</DnetTabGroup>
				</div>
			</div>
		</div>
	</div>
</div>


@code {

	public void TabClicked(TabClikedEventData tabClikedEventData)
	{
		var tt = tabClikedEventData.TabId;
	}
}



