.dnet-desktop-layout-center-container {
    display: flex;
    flex-direction: column;
}

.destok-layout {
    .dnet-desktop-layout-center-container {
        height: calc(100vh - 0px);
    }
}

.dnet-desktop-layout-center-container {
    height: 100%;
    min-height: 100vh;
}

.dnet-desktop-layout-center-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}
