:root {
    --dnet-toast-margin: 0px;
}

.dnet-floating-panel-container {
    display: flex;
    flex-direction: row;
    border-radius: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    /*margin: var(--dnet-toast-margin);*/
    /*box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);*/
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    color: rgba(0,0,0,.87);
}
