:root {
    --dnet-dash-navbar-height: 38px;
    --dnet-dash-asideWidth: 250px;
    --dnet-dash-asideWidth-minified: 60px;
    --dnet-menu-container-open-bgcolor: white;
    --dnet-menu-container-bgcolor: #eee;
    --dnet-dash-menu-left-padding-firts-level: 1em;
    --dnet-dash-menu-left-padding-firts-level-has-image: 0.6em;
    --dnet-dash-link-color: var(--dnet-dash-primary-dark);
    --dnet-dash-navigation-color: #000000;
    --dnet-dash-menu-text-size: var(--dnet-component-sm-font-size);
    --dnet-dash-menu-left-padding-second-level: 2em;
    --dnet-dash-menu-left-padding-third-level: 4em;
    --dnet-dash-minifyme-bg-color: #eee;
    --dnet-dash-minifyme-chevron-color: black;
    --dnet-dash-indicator-bgcolor: #42b0d5;
    --dnet-dash-indicator-width: 3px;
    --dnet-dash-menu-item-parent-color: white;
}
