@using Dnet.Blazor.Components.AdminLayout.Menu

@* <div class="dnet-desktop-navigation-menu">
    <nav>
        <ul>
             @foreach (var item in Menus)
            {
                <MenuTree Menu="@item"></MenuTree>
            }
        </ul>
    </nav>
</div> *@
<nav>
    <ul>
        @foreach (var item in Menus)
        {
            <MenuTree Menu="@item"></MenuTree>
        }
    </ul>
</nav>

@code {
    [Parameter]
    public List<NavigationMenu> Menus { get; set; } = new();

}
