/*Footer*/
.footer {
    grid-area: footer;
    background-color: var(--footer-color);
    text-align: center;
    border-top: 1px solid var(--general-border-color);
}

.footer-content {
    display: flex;
    height: 100%;
}

.hidden-footer {

    .footer {
        border-top: none;
    }

    .footer-content {
        display: none;
    }
}

.hidden-footer-and-header {

    .footer {
        border-top: none;
    }

    .footer-content {
        display: none;
    }
}
