:root {
    //General Style
    --dnet-component-border-radius: 4px;
    --dnet-component-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    //fonts
    --dnet-component-lg-font-size: 1.25rem;
    --dnet-component-md-font-size: 1rem;
    --dnet-component-sm-font-size: 0.875rem;
    --dnet-component-xs-font-size: 0.625rem;
    --dnet-primary-color: #4fc3f7;
    --dnet-secundary-color: #4fc3f7;
    //Button style
    --dnet-button-background-color: rgba(0,0,0,.05);
    --dnet-button-hover-color: #000;
    --dnet-button-hover-opacity: 0.04;
    --dnet-button-font-size: var(--dnet-component-sm-font-size);
    --dnet-button-min-width: 64px;
    --dnet-button-border-radius: 4px;
    --dnet-button-line-height: 36px;
    --dnet-button-padding: 0 16px;
    --dnet-button-margin: 0;
    //CheckBox Style
    --dnet-color-reset: #000000;
    // Easing Curves
    // TODO(jelbourn): all of these need to be revisited
    // The default animation curves used by material design.
    --dnet-linear-out-slow-in-timing-function: cubic-bezier(0, 0, 0.2, 0.1) !default;
    --dnet-fast-out-slow-in-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;
    --dnet-fast-out-linear-in-timing-function: cubic-bezier(0.4, 0, 1, 1) !default;

    --dnet-ease-in-out-curve-function: cubic-bezier(0.35, 0, 0.25, 1) !default;

    --dnet-swift-ease-out-duration: 400ms !default;
    --dnet-swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;
    --dnet-swift-ease-out: all var(--dnet-swift-ease-out-duration) var(--dnet-swift-ease-out-timing-function) !default;

    --dnet-swift-ease-in-duration: 300ms !default;
    --dnet-swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
    --dnet-swift-ease-in: all var(--dnet-swift-ease-in-duration) var(--dnet-swift-ease-in-timing-function) !default;

    --dnet-swift-ease-in-out-duration: 500ms !default;
    --dnet-swift-ease-in-out-timing-function: var(--dnet-ease-in-out-curve-function) !default;
    --dnet-swift-ease-in-out: all var(--dnet-swift-ease-in-out-duration) var(--dnet-swift-ease-in-out-timing-function) !default;

    --dnet-swift-linear-duration: 80ms !default;
    --dnet-swift-linear-timing-function: linear !default;
    --dnet-swift-linear: all var(--dnet-swift-linear-duration) var(--dnet-swift-linear-timing-function) !default;
}
