@using System.Globalization
@using Dnet.App.Shared.Infrastructure.Entities
@using Dnet.Blazor.Components.Grid.Infrastructure.Entities

<div style="display: flex; width: 100%; align-items: center; justify-content: center; height: 100%">
  <span class="blg-no-pic blg-no-pic-grey">

  </span>
</div>

@code {

    [Parameter]
    public CellParams<Person> CellParams { get; set; }
}
