.dnet-aside {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: var(--dnet-dash-header-height) 1fr var(--dnet-dash-footer-height);
    height: 100%;
}

.dnet-navigation-row {
    text-align: center;
}

.dnet-navigation-flex {
    grid-row: 2 / 3;
    height: calc(100vh - 100px);
}

.hidden-left-column {
    .dnet-aside {
        display: none;
    }
}

.hidden-lateral-columns {
    .dnet-aside {
        display: none;
    }
}

@media only screen and (max-width: 550px) {

    .dnet-aside {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        height: 100%;

        .minifier-content {
            display: none;
        }

        .dnet-navigation-flex {
            height: calc(100vh - 50px);
        }
    }
}
