.dnet-grid-container {
    display: grid;
    grid-template-columns: minmax(var(--dnet-dash-left-column-width), auto) calc(100dvw - var(--dnet-dash-left-column-width) - var(--dnet-dash-right-column-width)) minmax(var(--dnet-dash-right-column-width), auto);
    grid-template-rows: var(--dnet-dash-header-height) calc(100dvh - var(--dnet-dash-header-height) - var(--dnet-dash-footer-height)) var(--dnet-dash-footer-height);
    grid-template-areas:
        "left header right" "left content right" "left footer right";
    height: calc(100dvh - 0px);
    /* transition: all 0.3s ease-in-out; */

    &.hidden-right-column {
        grid-template-columns: minmax(var(--dnet-dash-left-column-width), auto) calc(100dvw - var(--dnet-dash-left-column-width));
    }

    &.hidden-left-column {
        grid-template-columns: 0px calc(100dvw - var(--dnet-dash-right-column-width)) minmax(var(--dnet-dash-right-column-width), auto);
    }

    &.hidden-lateral-columns {
        grid-template-columns: 0px calc(100dvw - 0px) 0px;
    }

    &.hidden-header {
        grid-template-rows: 0px calc(100dvh - var(--dnet-dash-footer-height)) var(--dnet-dash-footer-height);
    }

    &.hidden-footer {
        grid-template-rows: var(--dnet-dash-header-height) calc(100dvh - var(--dnet-dash-header-height)) 0px;
    }

    &.hidden-footer-and-header {
        grid-template-rows: 0px calc(100dvh - 0px) 0px;
    }

    &.minified {
        grid-template-columns: minmax(var(--dnet-dash-asideWidth-minified), auto) calc(100dvw - var(--dnet-dash-asideWidth-minified) - var(--dnet-dash-right-column-width)) minmax(var(--dnet-dash-right-column-width), auto);

        &.hidden-right-column {
            grid-template-columns: minmax(var(--dnet-dash-asideWidth-minified), auto) calc(100dvw - var(--dnet-dash-asideWidth-minified));
        }
    
        &.hidden-left-column {
            grid-template-columns: 0px calc(100dvw - var(--dnet-dash-right-column-width)) minmax(var(--dnet-dash-right-column-width), auto);
        }
    
        &.hidden-lateral-columns {
            grid-template-columns: 0px calc(100dvw - 0px) 0px;
        }
    }
}
